body {
    padding: 15px;
}

a,
.pointer {
    cursor: pointer;
}

.row-selector {
    min-width: 20px;
}

.list-tagger .form-group {
    margin-right: 0.2em;
}

.form-control.pval {
    max-width: 10em;
}

.nav-tabs .input-group,
.breadcrumb .input-group {
    width: 30%;
}
.item-list .thumbnail {
    min-height: 80px;
}

ul.nav-tabs > li.active > a {
    bottom: -1px; /* So shouldn't be necessary... */
}

.page-header .description,
.page-header .label {
    font-size: 14px;
}

.tab-content {
    padding: 10px;
}

.tab-content .list-group-item .badge {
    font-size: 20px;
}

.tab-content .list-group-item.no-results {
    opacity: 0.5;
}

.tab-content .list-group-item > a {
    font-size: 16px;
}

.list-contents {
    min-height: 400px;
}

.template-line {
    height: 100px;
    transition: height 1s, padding 1s;
}

.template-line p {
    width: 80%;
}

.template-line.list-group-item-danger {
    height: 0px;
    padding: 0px;
    border: none;
    margin: 0;
}

.enrichment-controls {
    margin: 0.5em;
}

.enrichment-controls label,
.enrichment-controls .form-group {
    margin-right: 1em;
}

.template-line.list-group-item-danger .badge {
    display: none;
}

.template-line .description .match {
    background: #555;
    color: #eee;
}

.fade-toggle-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.fade-toggle-enter.fade-toggle-enter-active {
    opacity: 1;
}

.fade-toggle-leave {
    opacity: 1;
    transition: opacity .01s ease-in;
}

.fade-toggle-leave.fade-toggle-leave-active {
    opacity: 0.01;
}

.slide-left-enter {
    position: relative;
    left: 100%;
    transition: left .2s ease-in;
}

.slide-left-enter.slide-toggle-enter-active {
    left: 0;
}

.slide-left-leave {
    position: relative;
    left: 0;
    transition: opacity .5s ease-in;
}

.slide-left-leave.slide-toggle-leave-active {
    left: -100%;
}
