a,
.pointer {
    cursor: pointer;
}

.row-selector {
    min-width: 20px;
}

.list-tagger .form-group {
    margin-right: 0.2em;
}

.form-control.pval {
    max-width: 10em;
}

.dropdown-menu-group {
    display: inline-block;
    float: left;
    margin-right: 1em;
    padding: 0.4em;
}

.clickable, th.sortable {
    cursor: pointer;
}

.dropdown-menu-group .dropdown-menu {
}

.nav-tabs .input-group,
.breadcrumb .input-group {
    width: 30%;
}
.item-list .thumbnail {
    min-height: 80px;
}

.item-detail-listing {
    padding: 0.25em;
}

.item-detail-listing li {
    list-style-type: none;
}

.object-type {
    transition: all 1s ease-in-out;
}

.item-detail-listing .field {
    width: 50%;
    float: left;
}
.item-detail-listing .field .value {
    float: right;
    padding-right: 0.2em;
}
.item-detail-listing .field .name {
    float: left;
    padding-right: 0.2em;
}

.item-details {
    clear: both;
}

.collection .item-details {
    border-bottom: 1px solid #CACACA;
    margin-top: 0.1em;
    padding-bottom: 0.25em;
}

.collection .item-details:last-child {
    border-bottom: none;
}

.show-list-tool {
    padding-top: 60px;
}

.show-list-tool > .nav {
    padding: 15px 15px 0 15px;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.show-list-tool > .nav > .input-group.pull-right {
    margin-right: 1em;
}

ul.nav-tabs > li.active > a {
    bottom: -1px; /* So shouldn't be necessary... */
}

.page-header .description,
.page-header .label {
    font-size: 14px;
}

.tab-content {
    padding: 10px;
}

.tab-content .list-group-item .badge {
    font-size: 20px;
}

.tab-content .list-group-item.no-results {
    opacity: 0.5;
}

.tab-content .list-group-item > a {
    font-size: 16px;
}

.list-contents {
    min-height: 400px;
}

.template-line {
    height: 100px;
    transition: height 1s, padding 1s;
}

.template-line p {
    width: 80%;
}

.template-line.list-group-item-danger {
    height: 0px;
    padding: 0px;
    border: none;
    margin: 0;
}

.enrichment-controls {
    margin: 0.5em;
}

.enrichment-controls label,
.enrichment-controls .form-group {
    margin-right: 1em;
}

.template-line.list-group-item-danger .badge {
    display: none;
}

.template-line .description .match {
    background: #555;
    color: #eee;
    padding: 2px;
    font-weight: bold;
    text-decoration: underline;
}

.fade-toggle-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.fade-toggle-enter.fade-toggle-enter-active {
    opacity: 1;
}

.fade-toggle-leave {
    opacity: 1;
    transition: opacity .01s ease-in;
}

.fade-toggle-leave.fade-toggle-leave-active {
    opacity: 0.01;
}

.slide-left-enter {
    position: relative;
    left: 100%;
    transition: left .2s ease-in;
}

.slide-left-enter.slide-toggle-enter-active {
    left: 0;
}

.slide-left-leave {
    position: relative;
    left: 0;
    transition: opacity .5s ease-in;
}

.slide-left-leave.slide-toggle-leave-active {
    left: -100%;
}

.summary-value.reference {
    font-style: italic;
}
.summary-value {
    margin-right: 0.5em;
}
.summary-value:last-child {
    margin-right; 0;
}

.reference h2.object-title {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 4px;
}
.reference .object-title .object-type.name {
    float: left; /* Cannot assign width to inline element */
    min-width: 25%;
}

.row.colls {
    margin-left: 0;
}

.object-title {
}

.object-title .object-type {
    cursor: pointer;
    margin-right: 2em;
}

.object-title .object-type i.fa {
    margin-right: 1em;
}

.attribute .name {
    font-weight: bold;
}

.attribute .value.string {
    text-align: justify;
    text-justify: inter-word;
}

.attribute .value.org-intermine-objectstore-query-clobaccess {
    font-family: monospace;
    word-break: break-all;
    max-height: 250px;
    overflow-y: auto;
}

.reference .row {
    padding-left: 2em;
}

.collection-items {
    list-style-type: none;
}

.reference.collection {
    float: left;
}
.reference.collection .object-title {
    font-size: 16px;
}

.reference-link {
    margin-right: 1em;
}
